<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- Título -->
    <title>11 Repeat</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var projeto = angular.module("aplicacao", []);

        projeto.controller("controle", function ($scope) {
            $scope.nomes = ['Éliton', 'Ana', 'Roberto Marinho'];

            $scope.pessoas = [
                { nome: "Roberval", idade: 20, cidade: 'Navegantes' },
                { nome: "Txê-Chaleira", idade: 42, cidade: 'Gramado' },
                { nome: "Jubileu", idade: 67, cidade: 'Aurora' }
            ];
        });

    </script>

</head>

<body ng-app="aplicacao" ng-controller="controle">

    <ul>
        <li ng-repeat="n in nomes">{{n}}</li>
    </ul>

    <hr>

    <table style="margin-top: 100px" class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in pessoas">
                <td>{{$index + 1}}</td>
                <td>{{p.nome}}</td>
                <td>{{p.idade}}</td>
                <td>{{p.cidade}}</td>
            </tr>
        </tbody>
    </table>

</body>

</html>