/* Padronizando tags */
*{
    font: 14px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body{
    background-color: #8800C1;
}

h1{
    font-size: 25px;
    margin: 10px;
    text-align: center
}


form{
    width: 500px;
    padding: 5px;
    margin: auto;
    box-shadow: 0px 0px 10px #2E0042;
    background-color: #A13DCC;
}

input[type="text"]{
    padding: 5px;
    margin: 5px;
    width: 470px;
    border: solid 2px white;

}

input[type="button"]{
    padding: 5px;
    margin: 5px;
    width: 75px;
    border-radius: 10px;
    border: solid 3px grey;
}
input[type="text"]:focus{
    border: solid 2px black;
}

input[type="button"]:hover{
    cursor: pointer;
    border: solid 3px rgb(158, 4, 158);
    transition-duration: 0.4s;
    font-weight: bold;
}


#situacao{
    font: 20px sans-serif;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
