<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6f42c1">

    <a class="navbar-brand" href="#">Exercícios básicos angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLinkActive="/ex1">Exercício 1</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/ex2">Exercício 2</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/ex3">Exercício 3</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="#">Exercício 4</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="#">Exercício 5</a>
            </li>
        </ul>
    </div>
</nav>