<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicial">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lembretes">Lembretes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contatos">Contatos</a>
            </li>
        </ul>
    </div>
</nav>