<section class="col-md-12">
    <div class="row">
        <carousel>
            <slide>
                <img src="../../assets/images/banner/prop01.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>

            <slide>
                <img src="../../assets/images/banner/prop02.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>

            <slide>
                <img src="../../assets/images/banner/prop03.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
        </carousel>
    </div>
</section>

<section class="col-md-12">

    <div class="row servicos">
        <h1>Serviços prestados</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Desenvolvimento de web-sites
                </div>
                <img src="../../assets/images/servicosIndex/01.png" class="card-img-top image-fluid">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Desenvolvimento de aplicativos mobile
                </div>
                <img src="../../assets/images/servicosIndex/02.png" class="card-img-top image-fluid">
                <div class="card-body">

                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Desenvolvimento de e-commerces
                </div>
                <img src="../../assets/images/servicosIndex/03.png" class="card-img-top image-fluid">
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>

</section>