<div class="container-fluid">

    <div class="row color">
        <div class="col-md-12">
            <p class="text-center">Venha nos conhecer!</p>
        </div>
    </div>

    <div class="row map">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3557.9067726790977!2d-49.07724997301636!3d-26.906453679297524!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x72cb3df5857c361e!2sApex+Ensino!5e0!3m2!1spt-BR!2sbr!4v1563650051959!5m2!1spt-BR!2sbr"></iframe>
            </div>
        </div>
    </div>
</div>