<div class="mt-5">
    {{#if mensagem_ok}}
    <div class="alert alert-success">
        {{mensagem_ok}}
    </div>
    {{/if}}

    {{#if mensagem_falha}}
    <div class="alert alert-danger">
        {{mensagem_falha}}
    </div>
    {{/if}}
</div>