<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplicação nodejs e mongodb</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

</head>

<body>
    {{>_topo}}

    {{body}}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" i></script>
    <script src="/public/js/bootstrap.min.js"></script>
</body>

</html>