<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a (click)="abrirModal(1)">
                <div class="card">
                    <img src="../../assets/images/clientes/01.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a (click)="abrirModal(2)">
                <div class="card">
                    <img src="../../assets/images/clientes/02.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a (click)="abrirModal(3)">
                <div class="card">
                    <img src="../../assets/images/clientes/03.png" class="card-img-top image-fluid">
                    <div class="card-body">
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-3">
            <a (click)="abrirModal(4)">
                <div class="card">
                    <img src="../../assets/images/clientes/04.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>

        </div>


        <div class="col-md-3">
            <a (click)="abrirModal(5)">
                <div class="card">
                    <img src="../../assets/images/clientes/05.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a (click)="abrirModal(6)">
                <div class="card">
                    <img src="../../assets/images/clientes/06.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a (click)="abrirModal(7)">
                <div class="card">
                    <img src="../../assets/images/clientes/07.png" class="card-img-top image-fluid">
                    <div class="card-body">
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a (click)="abrirModal(8)">
                <div class="card">
                    <img src="../../assets/images/clientes/08.png" class="card-img-top image-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>